body{
    background: #232323;
    margin: 0;
    font-family:fantasy;
    font-weight: normal;
    text-transform: capitalize;
}
#mess {
    display: inline-block;
    width: 20%;
    color: black;
}

button:hover{
    color: white;
    background: steelblue;
}

button{
    border: none;
    background: white;
    text-transform:uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 2px;
    font-size: inherit;
    outline: none;
}

.square{
    width: 30%;
    background :purple;    
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background 0.9s;
    border-radius:15%; 
}

#container{
    margin: 20px auto;
    max-width: 600px;
    max-height: 600px;
    
}
h1{
     font-weight: normal;
    color: aliceblue;
    text-align: center;
    background: steelblue;
margin: 0;
}

span{
    color: aliceblue;
}
#asa{
    background: white;
    height: 30px;
    text-align: center;
}

.selected{
    background: aqua;
}
#x1{
    font-size:200%; 
}